CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# ignore build directories
out/**
build/**
test_cpu/build/**
test_gpu/build/**
test_cpu/out/**
test_gpu/out/**

# ignore model directories
model/**
model-hf/**
test_cpu/models/**
test_cpu/tokenizer/**
test_gpu/models/**
test_gpu/tokenizer/**

# ignore venv
venv/**

.vs/
.vscode/